@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper-slide {
    display: flex !important;
}

body {
    font-family: TTLakes, sans-serif;
    background-color: rgb(247, 247, 247);
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.title {
    color: rgba(126, 126, 130, 1);
    text-transform: uppercase;
    background-color: white;
    padding: 20px 0 20px 20px;
    font-size: 16px;
}

.cards {
    padding-left: 20px;
    margin: 50px 0;
}

.card {
    padding: 17px;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 10px;
    margin: 0 24px 16px 0;
    width: 224px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px !important;
}

.card img {
    max-width: 110px;
}

.card button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.card__info {
    padding: 11px 12.5px 11px 14px;
    border: 2px solid rgba(255, 62, 121, 1);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.card__hidden {
    display: none;
}

.expand {
    display: none;
    padding-left: 20px;
}

.expand__text {
    margin-left: 8px;
}

.expand button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

@media (min-width: 768px) {
    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .expand {
        display: flex;
        align-items: center;
    }
    .card__hidden-768 {
        display: none;
    }
    .card__info {
        padding: 12px 13.5px 12px 15px;
    }
}

@media (min-width: 1012px) {
    .card__hidden-768 {
        display: flex;
    }
    .card {
        min-width: 220px;
        flex: 0 0 20%;
    }
}
