@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper-slide {
    display: flex !important;
    /* width: 120px; */
}

body {
    font-family: TTLakes, sans-serif;
}

.container {
    max-width: 1120px;
    margin: 20px auto;
    background-color: rgba(248, 248, 248, 1);
}

.title {
    border-top: 1px solid rgba(217, 255, 245, 1);
    background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(255, 255, 255, 1));
    color: rgba(126, 126, 130, 1);
    text-transform: uppercase;
    padding: 20px 0 20px 20px;
    font-size: 16px;
}

.cards {
    padding-left: 20px;
    margin: 50px 0;
}

.card {
    padding: 17px;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 10px;
    margin: 0 24px 16px 0;
    width: 224px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px !important;
}

.card__title {
    max-width: 110px;
}

.card__btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.card__info {
    padding: 11px 12.5px 11px 14px;
    border: 2px solid rgba(255, 62, 121, 1);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.card__btn:hover .card__info {
    border-color: rgba(229, 46, 113, 1);
    background-color: rgba(255, 62, 121, 0.1);
    transform: scale(1.1);
}

.card__hidden {
    display: none;
}

.expand {
    display: none;
    padding: 0 0 35px 20px;
}

.expand__text {
    transition: all 1s ease-in-out;
    margin-left: 8px;
}

.expand__text:hover {
    color: rgb(255, 51, 51);
}

.expand__btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

@media (min-width: 768px) {
    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .expand {
        display: flex;
        align-items: center;
    }
    .card__hidden-768 {
        display: none;
    }
    .card__info {
        padding: 12px 13.5px 12px 15px;
    }
}

@media (min-width: 1012px) {
    .card__hidden-768 {
        display: flex;
    }
    .card {
        min-width: 220px;
        flex: 0 0 20%;
    }
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #000;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}
